{
    "TOKEN": "TOKEN",
    "CLIENT_ID": "ID",
    "GUILD_ID": "ID",
    "DISCOVERY_CHANNEL_ID": "ID",
    "host": "host",
    "user": "user",
    "password": "password",
    "database": "database",
    "default_ping_role_id": "ID",
    "lead_role_id": "ID",
    "staff_role_id": "ID",
    "announcement_channel_id": "ID",
    "admin_channel_id": "ID,
    "PROJECT_CATEGORY": "ID",
    "INTAKE_ROLE_ID": "ID"
}